/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 1024px;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

strong em {
    font-weight: bold;
}

.container {
    display: flex;
    
}

.container .top-nav {
    display: flex;
    justify-content: flex-start;
}

.container .top-nav a {
    display: flex;
    font-family: "Bangers";
    font-size: 12px;
    color: lightgrey;
    justify-content: flex-start;
    margin: 20px;
    align-content: space-between;
    text-decoration: none;
}

.container .logo {
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
}

@media ( max-width: 800px ) {
    .container {
        border: 1px solid red;
    }

    .container .logo {
        display: flex;
        justify-content: flex-end;       
    }

    .message .code-snippet {
        display: none;
    }

}

@media ( max-width: 400 ){
    .message .code-snippet {
        display: none;
    }
    .message .left p {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
     
    }
}

.message {
    display: flex;
    flex-flow: row nowrap;
}

.message .left p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;;
    margin-left: 300px;
}

.message .left .start-button {
    margin-left: 300px;
}

.message .code-snippet {
    justify-content: end;
}

@media ( max-width: 800 ) {
    .message {
        display: flex;
        justify-content: center;
    }
}










